<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.input :title, class: "form-control", placeholder: "Title of the task" %>
    </div>
    <div class="form-group col-md-7">
    <%= f.input :description, class: "form-control", placeholder: "Enter in details" %>
    </div>
    <div class="form-group col-md-6">
    <%= f.input :location, class: "form-control", placeholder: "Enter in details" %>
    </div>
    <div class="form-group col-md-6">
    <%= f.input :price, class: "form-control", placeholder: "Enter in a autowin price" %>
    </div>
  </div>
  <div class="bottommargin-sm col-md-3">
<%= f.input :start, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
  </div>
  <div class="bottommargin-sm col-md-3">
<%= f.input :due, as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
  </div>

  <div class="form-group col-md-6">
      <%= f.input :people, class: "form-control", placeholder: "How many people needed?" %>
  </div>

  <div class="form-group col-md-12">
      <%= f.input :image, as: :file, class: "form-control-file"%>
  </div>

  <div class="form-actions col-md-12">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
</form>


<% end %>
