<div class="page-header">
  <%= link_to new_task_path, class: 'btn btn-primary', style: 'color: #fff;' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Create a Task
  <% end %>
  <h1>Tasks Available</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start</th>
            <th>Due</th>
            <th>People Needed</th>
            <th>Location</th>
            <th>Image</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <%= content_tag :tr, id: dom_id(task), class: dom_class(task) do %>

                      <td><%= task.title %></td>
                      <td><%= task.description %></td>
                      <td><%= task.start %></td>
                      <td><%= task.due %></td>
                      <td><%= task.location %></td>
                      <td><%= task.people %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			For Sale
		</div> <a href="#" id="A_4"><img src="demos/real-estate/images/items/1.jpg" alt="Image 1" id="IMG_5" /></a>
		<div id="DIV_6">
			$1.2m<span id="SPAN_7">Leasehold</span>
		</div>
	</div>
	<div id="DIV_13">
		<h3 id="H3_14">
			<a href="#" id="A_15">3 Bedroom Villa</a>
		</h3> <span id="SPAN_16">Seminyak Area</span> <a href="#" id="A_17"><i id="I_18"></i></a>
	</div>
</div>
