<div class="page-header">
  <%= link_to new_task_path, class: 'btn btn-primary', style: 'color: #fff;' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Create a Task
  <% end %>
  <h1>Tasks Available</h1>
</div>
    <% @tasks.each do |task| %>
      <%= content_tag :tr, id: dom_id(task), class: dom_class(task) do %>    <div class="col-sm-3">
        <div class="div2">
          <div class="div10">
            <div id="DIV_1" style="width: 33.3%;, float: left;", class="display:inline-block;">
              <div id="DIV_2">
                <div id="DIV_3">
                  Task
                  <% @location = task.location %>
                </div> <%= link_to image_tag(task.image_url),task_location_path(task,@location) %>
                <div id="DIV_6">
                  $<%= task.price %><span id="SPAN_7">Autowin</span>
                </div>
              </div>
              <div id="DIV_13">
                <h3 id="H3_14">
                  <a href="#" id="A_15"><%= task.title %></a>
                  <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                  <div class="row no-gutters box-arthur">
                    <div class="col-lg-6 arthur-box-inner">Start:<pre><%= task.start %></div>
                    <div class="col-lg-6 arthur-box-inner">Due:<pre><%= task.due %></div>
                    <div class="col-lg-6 arthur-box-inner">People:<pre><%= task.people %></div>
                    <div class="col-lg-6 arthur-box-inner">Description:<pre><%= task.description %></div>
                <% if current_user == @task.user %>
                  <% else %>
                  <div class="col-lg-6 arthur-box-inner" style="font-size: 15px;"><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  </div>
                  <% end %>

              </div>
            </div>
          </div>
        </div>
    </div>
<% end %>
<% end %>
