<div class="page-header">
  <%= link_to new_bid_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Bid
  <% end %>
  <h1>Listing bids</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Task</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Offer</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @bids.each do |bid| %>
        <%= content_tag :tr, id: dom_id(bid), class: dom_class(bid) do %>
                      <td><%= bid.task.title %></td>
                      <td><%= bid.name %></td>
                      <td><%= bid.comment %></td>
                      <td><%= bid.offer %></td>
                    <td><%= link_to 'Show', bid %></td>
          <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
          <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
