<%= form_tag task_locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for location in @locations %>
    <tr>
      <td><%= location.address %></td>
      <td><%= location.latitude %></td>
      <td><%= location.longitude %></td>
      <td><%= link_to "Show", task_location_path(@task,location) %></td>
      <td><%= link_to "Edit", edit_task_location_path(@task,location) %></td>
    </tr>

  <% end %>
</table>

<p><%= link_to "New Location", new_task_location_path %></p>
