<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@location.latitude},#{@location.longitude}&markers=#{@location.latitude},#{@location.longitude}&zoom=14&size=640x400&key=AIzaSyAvQchP4YLseAbDqVxO1lzvUEcr0ej-_r0",
              class: 'img-fluid img-rounded'%>

<h3>Nearby task</h3>
<ul>

<% if @locations.blank? %>
<%= render 'locations/update-form' %>
  <% else %>
<% for location in @location.nearbys(20) %>
  <li><%= link_to location.address, task_location_path %> (<%= location.distance.round(2) %> miles)</li>
<% end %>
<% end %>
</ul>

<p><%= @task.title %></p>
                  <div class="divider"><i class="fas fa-cloud"></i></div>
<h1>Task Description</h1>
<p><%= @task.description %></p>
                  <div class="divider"><i class="fas fa-cloud"></i></div>
<h1>Start</h1>
<p><%= @task.start %></p>
                  <div class="divider"><i class="fas fa-cloud"></i></div>
<h1>Due</h1>
<p><%= @task.due %></p>
                  <div class="divider"><i class="fas fa-cloud"></i></div>
<h1>How many people is needed</h1>
<p><%= @task.people %></p>


<p>
  <%= link_to "Edit", edit_task_location_path(@location) %> |
  <%= link_to "Destroy", task_location_path, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", task_locations_path %>
</p>
