<!DOCTYPE html>
<html>
  <head>
    <title>GigHelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag("/stylesheets/style.css") %>
    <%= stylesheet_link_tag("/stylesheets/travel.css") %>
    <%= stylesheet_link_tag("/stylesheets/dark.css") %>
    <%= stylesheet_link_tag("/stylesheets/animate.css") %>
    <%= stylesheet_link_tag("/stylesheets/responsive.css") %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700|Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%= bootstrap_flash %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <script>
      $(document).ready(function () {
        $("#myBtn").click(function () {
          $("#myModal").modal();
        });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.datepicker').datepicker();
      });
    </script>

  </body>
</html>
